@model IEnumerable<Student>
@{
}


<h1>Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
               
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
                </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.EnrollmentDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.StudentID">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@student.StudentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
